<nav aria-label="breadcrumb mb-5 mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Könyvek</li>
  </ol>
</nav>
<div class="d-flex justify-content-between align-items-center">
<h1><i class="bi bi-book"></i> Könyvek - Admin</h1>
<div>
    <a href="/new" class="btn btn-primary"><i class="bi bi-plus"></i> Új Könyv</a>
</div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cím</th>
                <th scope="col">Szerző</th>
                <th scope="col">Kiadó</th>
                <th scope="col">Műfaj</th>
                <th scope="col">Ára (Ft)</th>
                <th scope="col" class="text-end">Műveletek</th>
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
        <tr>
            <th scope="col">{{this.konyv_id}}</th>
            <td>{{this.cim}}</td>
            <td>{{this.szerzo_nev}}</td>
            <td>{{this.kiado_nev}}</td>
            <td>{{this.megnevezes}}</td>
            <td>{{this.ar}}</td>
            <td class="d-flex justify-content-end">
                <a href="/view/{{this.konyv_id}}" class="btn btn-light"><i class="bi bi-eye"></i> Megtekint</a>
                <a href="/edit/{{this.konyv_id}}" class="btn btn-light"><i class="bi bi-pencil"></i> Szerkeszt</a>
                <form action="/delete/{{this.konyv_id}}" method="post">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Töröl</button>
                </form>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>